{{ define "main" }}

<!-- events -->
<section class="section">
  <div class="container">
    <h2>Annual Events</h2>
    <div class="row">
      <!-- event -->
      {{ range where .Site.RegularPages "Params.categories" "annual"}}
      <div class="col-lg-4 col-sm-6 mb-5">
        {{ .Render "event" }}
      </div>
      {{ end }}
    </div>
    <h2>Independence Day Events</h2>
    <div class="row">
      <!-- event -->
      {{ range where .Site.RegularPages "Params.categories" "independence"}}
      <div class="col-lg-4 col-sm-6 mb-5">
        {{ .Render "event" }}
      </div>
      {{ end }}
    </div>
    <h2>Workshops</h2>
    <div class="row">
      <!-- event -->
      {{ range where .Site.RegularPages "Params.categories" "workshop"}}
      <div class="col-lg-4 col-sm-6 mb-5">
        {{ .Render "event" }}
      </div>
      {{ end }}
    </div>
    <h2>Special Events</h2>
    <div class="row">
      <!-- event -->
      {{ range where .Site.RegularPages "Params.categories" "special"}}
      <div class="col-lg-4 col-sm-6 mb-5">
        {{ .Render "event" }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /events -->

{{ end }}
